NODE_ENV=local
FRONTEND_PORT=3000
BACKEND_PORT=7001
BACKEND_INTERNAL_URL=http://localhost:7001
FOOTBALL_DATABASE_PATH=./backend/data/football-platform.sqlite
OPENLIGADB_BASE_URL=https://api.openligadb.de
OPENLIGADB_LEAGUE_SHORTCUT=bl1
OPENLIGADB_LEAGUE_SEASON=2024
OPENLIGADB_TIMEOUT_MS=2500
